<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorator="template.html">
<body>
<section layout:fragment="pageContent">
<div class="m-5">
<div class="card">
<div class="card-header" th:if="${categorie.id}==null">Ajouter une Categorie</div>
<div class="card-header" th:if="${categorie.id}!=null">Modifier la Categorie</div>
<div class="card-body">
<form th:action="@{/addCategorie}" method="post">
<div class="form-group">
<label class="control-label">ID:</label>
<label class="control-label" th:text="${categorie.id}" >ID:</label>
<input type="hidden" name="id" th:value="${categorie.id}" class="form-control">
<span class="text-danger" th:errors=${categorie.id}></span>
</div>
<div class="form-group">
<label class="control-label">Categorie Name:</label>
<input type="text" name="name" th:value="${categorie.name}" class="form-control">
<span class="text-danger" th:errors=${categorie.name}></span>
</div><button class="btn btn-success" type="submit">Save</button>
</form>
</div>
</div>
</div>
</section>
</body>
</html>