<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorator="template.html"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<section layout:fragment="pageContent">
<div class="m-5">
<div class="card">
<div class="card-header">listes des Cinema</div>
<div class="card-body">
<form method="get" th:action="@{cinema}">
<div class="form-group">
<label>Name</label>
<input type="text" name="keyword" th:value="${keyword}">
<button class="btn btn-success">chercher</button>
</div>
</form>
<table class="table">
<tr>
<th>Id</th>
<th>Nom</th>
<th>NombreSalles</th>
<th>Ville</th>
</tr>
<tr th:each="p:${cinemas}">
<td th:text="${p.id}"></td>
<td th:text="${p.name}"></td>
<td th:text="${p.nombreSalles}"></td>
<td th:text="${p.ville.name}"></td>

<td > <a onclick="return confirm('etes vous sur de supprimer')" class="btn btn-danger" th:href="@{deleteCinema(id=${p.id},keyword=${keyword},page=${currentPage},size=${size})}">Delete</a></td>	
<td sec:authorize="hasRole('ROLE_ADMIN')"> <a class="btn btn-warning" th:href="@{editCinema(id=${p.id})}">Edit</a></td>	
</tr>
<tr>
<td></td><td></td><td></td><td></td><td></td><td><a th:href="@{CinemaForme}" class="btn btn-info">Ajouter</a></td>
</tr>
</table>
<ul class="nav nav-pills">
<li  th:each="page,status:${pages}">
<a th:class="${status.index==currentPage?'btn btn-primary':'btn'}" th:href="@{cinema(page=${status.index},keyword=${keyword},size=${size})}" th:text="${status.index}"></a>
</li>
</ul>
</div>
</div>
</div>
</section>
</body>
</html>