<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorator="template.html">
<body>
<section layout:fragment="pageContent">
<div class="m-5">
<div class="card">
<div class="card-header" th:if="${cinema.id}==null">Ajouter Un Nouveau Cinema</div>
<div class="card-header" th:if="${cinema.id}!=null">Modifier le Cinema</div>
<div class="card-body">
<form th:action="@{/addCinema}" method="post">
<div class="form-group">
<label class="control-label">ID:</label>
<label class="control-label" th:text="${cinema.id}" >ID:</label>
<input type="hidden" name="id" th:value="${cinema.id}" class="form-control">
<span class="text-danger" th:errors=${cinema.id}></span>
</div>
<div class="form-group">
<label class="control-label">CinemaName:</label>
<input type="text" name="name" th:value="${cinema.name}" class="form-control">
<span class="text-danger" th:errors=${cinema.name}></span>
</div>
<div class="form-group">
<label class="control-label">CinemaName:</label>
<input type="text" name="nombreSalles" th:value="${cinema.nombreSalles}" class="form-control">
<span class="text-danger" th:errors=${cinema.nombreSalles}></span>
</div>
<div class="form-group">
								<label class="control-label">Ville:</label> 
								<select name="ville" class="form-control btn btn-info">
									<option th:each="v:${villes}" th:text="${v.name}" class="form-control" th:value="${v.id}"
									th:selected="${cinema.ville.name}" th:if="${mode=='edit'}"></option>
									<option th:each="v:${villes}" th:text="${v.name}" class="form-control" th:value="${v.id}"
									 th:if="${mode!='edit'}"></option>					
								</select>
							</div>
<button class="btn btn-success" type="submit">Save</button>
</form>
</div>
</div>
</div>
</section>
</body>
</html>